version: '3.7'

services:
  db:
    restart: always
    image: mysql
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    ports: 
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: password
      
  redis:
    image: redis:alpine
    container_name: redis
    ports:
    - '6379:6379'

  phpmyadmin:
    image: phpmyadmin
    restart: always
    container_name: phpmyadmin
    ports:
      - '8080:80'
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1